<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %> 
    <body>
        <header class="header__container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="nuevo3.png" alt="" srcset=""></a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/productos">Productos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>	
        </header>

        <ul id="cart">
            <% cart.forEach(item => { %>
                <%- include ('./partials/item.ejs',item) %>
            <% }) %>
        </ul>

        <% if (cart.length <= 0) { %>
            <p class="aviso-vacio">Agrega productos al carrito!</p>
            <br>
            <form action="/productos" method="get">
                <button type="submit" id="vaciocart"><i class="fa-sharp fa-solid fa-arrow-left"></i> Ir a tienda</button>
            </form>
        <% } %>

        <% if (cart.length > 0) { %>
            <form class="form-usuario" action="/checkout/process" method="post" id="form-user">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required minlength="4">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido" required minlength="4">
                <input type="email" name="email" id="email" placeholder="Correo Electronico" required >
                <input type="number" name="telefono" id="telefono" placeholder="Telefono" required minlength="9">
                <input type="text" name="direccion" id="direccion" placeholder="Dirección y altura" required minlength="6">
                <input type="number" name="cp" id="cp" placeholder="Codigo Postal" required minlength="4">
                <input type="text" name="provincia" id="provincia" placeholder="Provincia" required minlength="4">

                <button type="submit" id="btnformuser">Continuar <i class="fa-solid fa-arrow-right"></i></button>
            </form>
        <% } %>

        <!-- scrips -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>