<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %> 
    <body>
        <div class="header">
            <img id="occ-404" src="nuevo3.png" alt="" srcset="">
        </div>

        <br>

        <p class="text-404">Ups! Parece que la pagina que estabas buscando no existe. No te precoupes, aca te dejamos el link para volver. Y de paso los productos nuevos en la pagina. (Error 404)</p>

        <br><br>

        <form action="/" method="get">
            <button type="submit" id="vaciocart"><i class="fa-sharp fa-solid fa-arrow-left"></i> Volver a la tienda</button>
        </form>
    
        <br><br><br>

        <article class="slides-img" id="shop_fin">

            <section class="slides-img82">
                <a><img class="productSize" src="remera9.png" alt=""></a>
                <a><img class="productSize" src="buzo champion.png" alt=""></a>
                <a><img class="productSize" src="remera3.png" alt=""></a>
                <a><img class="productSize" src="remera5.png" alt=""></a>
            </section>

        </article> 
    </body>
</html>