<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %> 
<body>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Compra Pendiente!</h4>
        <p>No te precoupes! Puede demorarse en procesar o falta que abones el pago. Te avisaremos cuando se haya completado el proceso.</p>
        <hr>
        <p class="mb-0">Te enviaremos la informacion al Correo Electronico. Muchas gracias por tu compra!</p>
    </div>

    <form action="/" method="get">
        <button type="submit" id="vaciocart"><i class="fa-sharp fa-solid fa-arrow-left"></i> Volver a la tienda</button>
    </form>
</body>
</html>