<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %> 
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Compra realizada con exito!</h4>
        <p>Gracias! Estamos muy contentos de que nos hayas elegido.</p>
        <hr>
        <p class="mb-0">En breve te mandaremos un Correo Electronico con la informacion de envio y el recibo de tu pedido </p>
    </div>

    <form action="/" method="get">
        <button type="submit" id="vaciocart"><i class="fa-sharp fa-solid fa-arrow-left"></i> Volver a la tienda</button>
    </form>
</body>
</html>